:root{
  --primary :#10A472;
  --primaryDark:#12855e;
  --secondary :#E89923;
  --secondaryDark: #c47c11;
  --third : rgb(168, 16, 214);
  --gradient : linear-gradient(to right, var(--secondary), var(--primary));
}

*{
  margin: 0;
}

body{
  margin: 0;
  font-size: 14px !important;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}



.App-link {
  color: var(--primary);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
