.calif{
    background-color: whitesmoke;
    width: 100vw;
    height: 100vh;
}

.calif_content{
    background-color: whitesmoke ;
    width: 100%;
    margin-top: .1%;
    height: 87.75%;
}


.user_info{
    width: 25.5%;
    height: 92%;
    background-color: var(--primary);
    float: left;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.user_info .user_image{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 50%;
}

.user_info img{
    width: 75%;
    margin-top: 2rem;
    border-radius: 50%;
}

.tables_info{
    width: 65.5%;
    height: 92%;
    background-color: var(--secondary);
    float: right;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.table_cuatri{
    margin: 0 auto;
    width: 90%;
    margin-top: 2rem;
    background-color: white;
    border-radius: 3px;
    font-size: larger;
    text-align: center;
}

.table_cuatri .t_title{
    height: 4rem;
    background-color: blue;
}

.table_cuatri{

}

@media (width < 500px){

    .calif_content{
        height: 200vh;
        flex-direction: column;
    }

    .user_info{
        width: 90%;
        height: 35%;
        margin-top: 5%;
    }

    .user_info .user_image{
        width: 70%;
        height: 50%;
        margin-left: 15%;
        margin-top: 20px;
    }

    .user_info img{
        width: 70%;
        margin-top: 2rem;
        margin-left: 15%;
    }

    .tables_info{
        width: 90%;
        
    }

    .table_cuatri{
        width: 90%;
        font-size: smaller;
        margin-top: 2rem;
    }

}