.dashboard{
    background-color: whitesmoke;
    width: 100vw;
    height: 100vh;
}

.dashboard_content{
    background-color: whitesmoke ;
    width: 100%;
    height: 90%;
}

.dash_menu{
    background-color: var(--secondary);
    width: 95%;
    height: 90%;
    margin-left: 2.5%;
    border-radius: 5px;
}

.carousel{
    width: 80%;
    height: 80%;
    margin-top: 6%;
    background-color: white;
    border-radius: 5px;
    margin: 0 auto;
    display: flex;
}   

.carousel_item{
    width: 20%;
    height: 60%;
    margin: auto;
    text-align: center;
    background-color: var(--secondary);
    color: white;
    border-radius: 5px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.carousel_item a{
    width: 90%;
    height: 50%;
    margin-top: 10px;
    font-size: 25px;
    font-weight: bolder;
}

.carousel_item button{
    background-color: var(--primary);
    font-size: 70%;
    font-weight: bolder;
    color: white;
    border-radius: 5px;
}

.carousel-item img{
    width: 90%;
    height: 150%;
}
