.header{
    position: relative;
    background-color:whitesmoke;
    width: 100vw;
    height: 12vh;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    align-items: center;
    justify-items: center;
}

.header_logo{
    float: left;
    width: 30%;
    height: 100%;
}

.header_logo img{
    width: 50%;
    height: 80%;
    margin-top: 2%;
    margin-left: 20px;
}

.info-page{
    width: 40%;
    height: 100%;
    font-size: 50px;
    font-weight: 600;
    text-align: center;
    color:linear-gradient(to right, var(--primary), var(--secondary));
}

.info-page:hover{
    text-decoration: none;    
}

.header_icon{
    width: 30%;
    float: right;
    width: 10%;
    height: 100%;
    display: flex;
    align-items: center;
}

.header_options{
    position: absolute;
    padding: 5px 0;
    transition: all .5s ease-in-out;
    margin-top: 10px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border: 2px solid var(--primary);
    border-radius: 10px;
    z-index: 100000;
    width: 150px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.23);
}
.header_options ul{
    margin: 0;
    padding: 0;
    width: 100%;
}
.header_options ul li{
    text-align: center;
    list-style: none;
    padding: 10px;
    cursor: pointer;

}
.header_options ul li:hover{
    transition: all .5s ease-in-out;
    background-color: var(--secondary);
}





.footer{
    width: 100vw;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary);
}

.footer ul{
    position: relative;
    display: flex;
    gap: 25px;
}

.footer ul li{
    position: relative;
    list-style: none;
    width: 60px;
    height: 60px;
    border-radius: 60px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}

.footer ul li:hover{
    width: 180px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0);
}

.footer ul li::before{
    content: '';
    position: absolute;
    inset: 0;
    border-radius: 50px;
    background: linear-gradient(45deg, var(--i), var(--j));
    opacity: 0;
    transition: 0.5s;
}

.footer ul li:hover::before{
    opacity: 1;
}

.footer ul li::after{
    content: '';
    position: absolute;
    top: 10px;
    width: 100%;
    height: 100%;
    border-radius: 60px;
    background: linear-gradient(45deg, var(--i), var(--j));
    opacity: 0;
    transition: 0.5s;
    z-index: -1;
    filter: blur(15px);
}

.footer ul li:hover::after{
    opacity: 0.5;
}

.footer ul li i{
    color: white;
    font-size: 1cm ;
    transition: 0.5s;
    transition-delay: 0.25s;
}

.footer ul li:hover i{
    transform: scale(0);
    font-size: 1.75cm;
    transition: 0.5s;
}

.footer ul li a{
    position: absolute;
    text-decoration: none;
}

.footer ul li .titulo{
    color: white;
    font-size: 1.1cm;
    text-transform: uppercase;
    letter-spacing: 0.1cm;
    transform: scale(0);
    transition: 0.5s;
    transition-delay: 0.25s;
}

.footer ul li:hover .titulo{
    transform: scale(.5);
    transition-delay: 0.5s;
}


@media (width < 500px){

    .header{
        height: 10%;
    }

    .info-page{
        width: 80%;
        height: 100%;
        font-size: 40px;
        font-weight: 500;
        text-align: center;
        padding-left: 20%;
    }
    
    .header_icon{
        float: right;
        width: 20%;
        height: 100%;
    }

    .header_logo{
        float: left;
        width: 0%;
    }

}